<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ food.title }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-bar-block .w3-bar-item {padding:20px}
    </style>
</head>
<body class="m-5">
    <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()"
        class="w3-bar-item w3-button">Close Menu</a>
        <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Food</a>
        <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
        <a href="" onclick="w3_close()" class="w3-bar-item w3-button">Categories</a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">All</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          
            
          
        </ul>
      </nav>
      
      <!-- Top menu -->
    <div class="w3-top">
        <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
            <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
            <div class="w3-right w3-padding-16">
                <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add new recipes</a>
                <a href="{% url 'home' %}" class="btn btn-dark btn-block btn-sm m-1">Home</a>
                </div>
            <div class="w3-center w3-padding-16">Recipes & More</div>
        </div>
    </div>

    <div class="container m-5">
        <div class="row">
            <div class="col-md-6">
                <img style="max-width: 100%; max-height: 100%;" src="{{ food.image.url }}">
            </div>
            <div class="col-md-6">
                <section class="head container mt-5 mb-5">
                    <div class="row">
                      <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <h1 class="text-center">{{ food.title }}</h1>
                      </div>
                  </section>
                  <section class="descritpion container">
                    <h4>Short Descritpion</h4>
                    <p>{{ food.short_description }}</p>
                    <h4>Ingredients</h4>
                    <p>{{ food.ingredients }}</p>
                    <h4>Descritpion</h4>
                    <p class="mt-2 mb-2">{{ food.description }}</p>
              
                    
              
              
                  </section>
            </div>
        </div>
    </div>
</body>
</html>